body {
    background-color: #F6F6F6;

}

hr {
    color: #FFC7C7;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 25%;
}
h3 {
    color: #8785A2;
}
h1 {
    color: #8785A2;
}
